absl-py==2.5.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
cadquery==2.8.0
cadquery-ocp==7.9.3.1.1
cadquery-ocp-proxy==7.9.3.1.1
casadi==3.6.7
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
embreex==4.4.0
ezdxf==1.4.4
fast-simplification==0.2.0
fonttools==4.64.0
frozenlist==1.8.0
-e .
idna==3.19
imageio==2.37.4
immutabledict==4.3.1
iniconfig==2.3.0
kiwisolver==1.5.1
lazy-loader==0.5
llvmlite==0.49.0
lxml==6.1.3
manifold3d==3.5.2
matplotlib==3.11.1
more-itertools==11.1.0
msgpack==1.2.2
multidict==6.7.1
multimethod==1.12
networkx==3.6.1
nlopt==2.11.0
numba==0.67.0
numpy==2.5.2
ortools==9.15.6755
packaging==26.3
pandas==3.0.5
pillow==12.3.0
pluggy==1.6.0
propcache==0.5.2
protobuf==6.33.6
pygments==2.21.0
pymeshfix==0.18.1
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
pyyaml==6.0.3
rtree==1.4.1
runtype==0.5.3
scikit-image==0.26.0
scipy==1.18.1
six==1.17.0
tifffile==2026.8.23
trame==3.13.2
trame-client==3.13.6
trame-common==1.2.7
trame-components==2.5.0
trame-server==3.15.0
trame-vtk==2.11.16
trame-vuetify==3.2.5
trimesh==5.1.0
typing-extensions==4.16.0
tzdata==2026.3
vtk==9.6.2
wslink==2.5.7
yarl==1.24.5
xxhash==4.0.1
